@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansWebMedium;
  src: url(../public/fonts/IRANSansWeb-Medium.ttf);
}
@font-face {
  font-family: IRANSansWebBold;
  src: url(../public/fonts/IRANSansWeb\ Bold.ttf);
}
@font-face {
  font-family: IRANSansWebLight;
  src: url(../public/fonts/IRANSansWeb\ Light.ttf);
}
@font-face {
  font-family: tahomaBold;
  src: url(../public/fonts/tahoma-bold.ttf);
}

body {
  font-family: IRANSansWebMedium;
  overflow-x: hidden;
}

.fontIRANSansWebBold {
  font-family: IRANSansWebBold;
}

.fontIRANSansWebMedium {
  font-family: IRANSansWebMedium;
}

.fontIRANSansWebLight {
  font-family: IRANSansWebLight;
}

.fontTahomaBold {
  font-family: tahomaBold;
}
